.accessibilityPage {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

/* Top header of the page */
.accessibilityPage :is(header) {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0.5rem;
  background-color: var(--color-secondary);
}

.accessibilityPage :is(header .logo) {
  margin: 0rem;
  font-size: 1.5rem;
  font-weight: bold;
}

/* Main body of the page, usually contains most of the information */
.accessibilityPage :is(main) {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
}

.accessibilityPage :is(main > *) {
  max-width: 40rem;
  width: 90%;
}

.accessibilityPage :is(.bubbleContainer :is(h1, h2, h3, p, a)) {
  display: inline-block;
  margin: 0rem;
  text-align: left;
}

.accessibilityPage :is(.bubbleContainer :is(h1, h2, h3)) {
  margin-top: 1.2rem;
  margin-bottom: 0.3rem;
}

.accessibilityPage :is(.bubbleContainer :is(a)) {
  margin-left: 1rem;
}

.accessibilityPage :is(.image) {
  position: relative;
  height: 10rem;
  width: 100%;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}

.accessibilityPage :is(.children) {
  position: relative;
  margin-left: 2rem;
}

.accessibilityPage :is(.connections) {
  position: absolute;
  margin-left: -2rem;
  margin-top: 1rem;
  width: 2rem;
  height: calc(100% - 2rem);
  border-left: var(--color-text) 0.1rem solid;
  opacity: 0.2;
}