.accessibilityPage {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

/* Top header of the page */
.accessibilityPage :is(header) {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0.5rem;
  background-color: var(--color-secondary);
  z-index: 10;
}

.accessibilityPage :is(header .logo) {
  margin: 0rem;
  font-size: 1.5rem;
  font-weight: bold;
}

/* Main body of the page, usually contains most of the information */
.accessibilityPage :is(main) {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
}

.accessibilityPage :is(main > .bubbleContainer) {
  max-width: 40rem;
  width: 90%;
}

.accessibilityPage :is(.bubbleBlock) {
  position: relative;
  margin-top: 24px;
  left: 5px;
  z-index: 10;
}

.accessibilityPage :is(.ConnectionLines)::before {
  content: '';
  position: absolute;
  width: 3rem;
  height: calc(100% - 9px);
  margin-left: -11px;
  margin-top: 22px;
  background-color: var(--color-primary);
  border-bottom-left-radius: 20px;
}

.accessibilityPage :is(.ConnectionLines)::after {
  content: '';
  position: absolute;
  width: 3rem;
  height: calc(100% - 10px);
  inset: 0rem;
  margin-left: -11px;
  margin-top: 20px;
  border-left: var(--color-text) 3px solid;
  border-bottom: var(--color-text) 3px solid;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 2px;
  border-bottom-right-radius: 2px;
  opacity: 0.3;
}

.bubbleHeader {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.accessibilityPage :is(.bubbleBlock :is(h1, h2, h3, p)) {
  position: relative;
  margin: 0rem;
  text-align: left;
  z-index: 10;  
}

.accessibilityPage :is(.bubbleBlock h1) {
  font-size: 1.4rem;
}

.accessibilityPage :is(.bubbleBlock h2) {
  font-size: 1.25rem;
}

.accessibilityPage :is(.bubbleBlock h3) {
  font-size: 1.1rem;
}

.accessibilityPage :is(.inlineImageContainer) {
  position: relative;
  height: 2rem;
}

.accessibilityPage :is(.inlineImage) {
  width: unset !important;
  object-fit: contain;
  border-radius: 0.4rem;
}

.accessibilityPage :is(.imageContainer) {
  position: relative;
  height: 7rem;
  left: 0.5rem;
  margin-top: 1rem;
}

.accessibilityPage :is(.image) {
  width: unset !important;
  border-radius: 0.8rem;
  margin-top: 0rem;
  margin-bottom: 0.6rem;
  object-fit: contain;
  object-position: left;
}

.accessibilityPage :is(.children) {
  position: relative;
  margin-left: 2rem;
}

.accessibilityPage :is(.connections) {
  position: absolute;
  inset: 0rem;
  opacity: 0.3;
}