
/* Full screen popup */
.alertContainer {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.alertContainer::before {
  content: '';
  width: 100%;
  height: 100%;
  background-color: var(--color-primary);
  opacity: 0.6;
}

.alertContainer > .alertBox {
  position: absolute;
  padding: 1rem 2rem;
  border-radius: 1rem;
  box-shadow: 1rem 1rem 3rem var(--color-primary), -1rem -1rem 6rem -3rem var(--color-text);
  background: linear-gradient(315deg, var(--color-text) -600%, var(--color-primary) 100%);
  color: var(--color-text);
  z-index: 100;
  margin: 1rem;
}

/* Generic buttons and rows of buttons */
.buttonRow {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
}

.button, .smallButton {
  position: relative;
  padding: 0.5rem 1rem;
  border: 1px solid var(--color-text);
  border-radius: 1.2rem;
  font-size: 1rem;
  transition: background-color 0.6s ease, color 0.6s ease;
  overflow: hidden;
}

.smallButton {
  padding: 0.2rem 0.8rem;
}

.circleBubbleCursorContainer {
  position: absolute;
  inset: 0rem;
  border-radius: 50%;
  overflow: hidden;
  transition: opacity ease 1s;
}

.buttonCursorBorder {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: inset 0rem 0rem 0rem 1px var(--cursor-color, var(--color-text));
  opacity: 0.5;
  clip-path: circle(var(--cursor-size) at var(--left) var(--top));
}

.buttonCursor {
  position: absolute;
  left: calc(var(--left) - (var(--cursor-size, 4rem) * 0.5));
  top: calc(var(--top) - (var(--cursor-size, 4rem) * 0.5));
  background-color: var(--cursor-color, var(--color-text));
  width: var(--cursor-size, 4rem);
  height: var(--cursor-size, 4rem);
  filter: blur(var(--cursor-blur, 3rem));
  transition: opacity ease 1s;
}