html {
  --size: 2000px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: hsl(0, 0%, 95%);
  width: var(--size);
  height: var(--size);
}

a {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
  text-align: center;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.Hidden {
  display: none;
}

@keyframes enterStageLeft {
  0% {
    transform: translateX(calc(-1em - 100%));
  }
  100% {
    transform: translateX(0em);
  }
}

@keyframes leaveStageLeft {
  0% {
    transform: translateX(0em);
  }
  100% {
    transform: translateX(calc(-1em - 100%));
  }
}

#Background {
  width: 100%;
}

#Settings {
  position: fixed;
  left: 0.9em;
  top: 0.9em;
}

#Settings > button {
  background-color: hsl(0, 0%, 100%);
  overflow: hidden;
  padding: 1em;
  border: none;
  border-radius: 1em;
  aspect-ratio: 1;
  cursor: pointer;
}

#SettingsList {
  display: flex;
  flex-direction: column;
  transition: visibility ease-in-out 0.5s;
  animation: 500ms ease-in-out 0s 1 enterStageLeft;
  background-color: hsl(0, 0%, 100%);
  padding: 0.6em 1em 0.6em 1em;
  margin-top: 0.9em;
  border-radius: 1em
}

#SettingsList[class*="Hidden"] {
  visibility: hidden;
  animation: 500ms ease-in-out 0s 1 forwards leaveStageLeft;
}

#SettingsList > * {
  font-size: 1.2em;
  padding: 0px;
  margin: 0.4em 0em 0.4em 0em;
  line-height: 1em;
}

#MainContent {
  position: absolute;
  top: 0;
  width: var(--size);
  height: var(--size);
}

.Bubble {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  box-sizing: border-box;
  border-radius: 50%;
  padding: 1em;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0px 0px 30px -15px hsl(0, 0%, 50%);
  transition: box-shadow ease-in-out 250ms;
}

a.Bubble {
  box-shadow: 0px 0px 30px -15px hsl(240, 100%, 60%);
}

.Bubble:focus-visible, .Bubble:hover {
  outline: none;
}

a.Bubble:focus-visible, a.Bubble:hover {
  box-shadow: 0px 0px 25px -5px hsl(240, 100%, 60%);
}

.Bubble > p {
  font-size: 0.9em;
  margin-top: 0em;
}

.Bubble > h2, .Bubble > h1 {
  font-size: 1.3em;
	margin-top: 0.5em;
}

.Bubble img {
  border-radius: 50%;
}

.ImageBubble {
  padding: 0px;
  image-rendering: pixelated;
}

.BackgroundImage {
  filter:
    blur(3px)
    opacity(0.06);
  image-rendering: pixelated;
}

.BackgroundImageContainer {
  position: absolute;
  top: 0;
  left: 0;
}

#EdgeScroller {
	position: fixed;
	left: 0;
	top: 0;
	pointer-events: none;
	transition: opacity ease-in-out 250ms;
}

#EdgeScroller:not(.DisplayVignette) {
	opacity: 0;
}